<h3> Bem vindos ao projeto teste</h3>

<div>
  <!--Utiliza-se ados parentezes para acessar o signal-->
  <h1>{{ title() }}</h1>
</div>

<div>
  <h4>{{subtitulo()}}</h4>
  <!--caso aja alteração no nome em toda a aplicação sera alterado, ou no proprio subtitulo-->
</div>

Titulo e subtitulo Juntos :  {{tudo()}}

<button (click)="updateTitulo()"> Atualizar Titulo</button>
<button (click)="updateSubTitulo()">Atualizar subtitulo</button>
<ul>
  <button><a [routerLink]="['/perfil']">Perfil</a></button>
</ul>

<router-outlet></router-outlet>

